<header>
    <nav class="navbar navbar-default row wr-global-header">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="wr-app-bar-items app-logo" href="{{url ""}}"><img src="{{url "/themes/store/img/logo.png"}}" /><h2 class="app-title"><span>App Store</span></h2></a>
                <input type="hidden" name="tenant-store" id="store-tenant-domain" value="{{storeTenantDomain}}">
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{#unless searchOff}}
                    <form class="nav navbar-left search-box" role="search">
                        <select id="searchSelect" class="search-select col-md-3">
                            <option {{#compare "overview_name" searchQuery.searchTerm}}selected{{/compare}}  value="Name">Name</option>
                            <option {{#compare "overview_provider" searchQuery.searchTerm}}selected{{/compare}}  value="Provider">Provider</option>
                        </select>
                        <input value="{{searchQuery.search}}" type="text" class="form-control col-md-4 search-text" id="searchTxt" placeholder="Search">
                    </form>
                {{/unless}}

                <ul class="nav navbar-nav navbar-right">
                    {{#if user}}
                        <a href="{{tenantedUrl "/assets/favouriteapps"}}">
                            <div class="auth-img">
                                {{t "My Favourites"}}
                                <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                            </div>
                        </a>
                    {{/if}}

                    <a href="{{tenantedUrl "/extensions/assets/site/myapps"}}">
                        <div class="auth-img">
                            {{t "My Apps"}}
                            <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                        </div>
                    </a>
                    {{#unless hideAllAppsLink}}
                        <a href="{{tenantedUrl "/assets/site/"}}">
                            <div class="auth-img">
                                {{t "All Apps"}}
                                <span class="fw-stack-md fw-lg">
                                         <i class="fw fw-login"></i>
                                    </span>
                            </div>
                        </a>
                    {{/unless}}

                    {{#if user}}

                        <a href="#" data-toggle="dropdown">
                            <div class="auth-img">
                                {{user.username}}
                                <span class="fw-stack-md fw-lg">
                                <i class="fw fw-user fw-stack-1-5x"></i>
                            </span>
                            </div>
                        </a>

                        <div class="dropdown-menu">
                            <div class="cu-arrow"></div>
                            <div class="dropdown-menu-content">
                                <a class="filter-item" href="{{url "/logout"}}">Logout</a>
                            </div>
                        </div>

                    {{else}}

                        {{#if sso}}

                            <a href="{{tenantedUrl "/login?header=true"}}">
                                <div class="auth-img">
                                    {{t "Sign In"}}
                                    <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                                </div>
                            </a>

                        {{else}}

                            <a data-toggle="modal" data-target="#modal-login">
                                <div class="auth-img">
                                    {{t "Sign In"}}
                                    <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                                </div>
                            </a>

                        {{/if}}


                        <a href="#"  data-toggle="modal" data-target="#register-modal">
                            <div class="auth-img">
                                Register
                            <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                            </div>
                        </a>


                        {{>register}}



                    {{/if}}


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>


<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar">
    <div class="col-md-9 wr-action-container">
        <div class="wr-action-btn-bar">
            <a href="javascript:openCollapsedNav()" class="cu-btn wr-hidden-nav-toggle-btn">
                    <span class="fw-stack">
                        <i class="fw fw-tiles fw-stack-1-5x"></i>
                    </span>
            </a><a class="cu-btn page-title" href='{{tenantedUrl "/assets/site"}}'>
            <span class="fw-stack"></span>
             My Sites
        </a>
            {{#if isTenanted}}
                <a class="cu-btn page-title" href='{{url "/"}}'>
                    <span class="fw-stack"></span>
                    Public Store
                </a>
            {{/if}}

        </div>
    </div>
    {{#if myFav}}
        <div class="col-md-3">
            <div style="cursor:pointer">
                {{#if isHomePage}}
                    <i title="Remove from home page"
                       class="fw fw-home fw-background-blue fw-2_0x fw-inverse home-icon"
                       id="rmv-home"></i>
                    <i title="Set this page as homepage"
                       class="fw fw-home fw-background-red fw-2_0x fw-inverse home-icon"
                       id="set-home" style="display: none"></i>
                {{else}}
                    <i title="Set this page as homepage"
                       class="fw fw-home fw-background-red fw-2_0x fw-inverse home-icon"
                       id="set-home" style=></i>
                    <i title="Remove from home page"
                       class="fw fw-home fw-background-blue fw-2_0x fw-inverse home-icon"
                       id="rmv-home" style="display: none"></i>
                {{/if}}
            </div>
        </div>
    {{/if}}
</div>
<!-- secondary header - app bar -->

<!-- common navigation -->
<div id="hiddenNav" class="wr-hidden-nav">
    <ul>
        <li><a href="{{tenantedUrl "/extensions/assets/webapp/myapps"}}"><i class="fw fw-web-app"></i>Web Apps</a></li>
        <li><a href="{{tenantedUrl "/assets/mobileapp"}}"><i class="fw fw-mobile"></i>Mobile Apps</a></li>
        <li><a href="{{tenantedUrl "/extensions/assets/site/myapps"}}"><i class="fw fw-website"></i>Sites</a></li>
    </ul>
</div>
<!-- /common navigation -->