

<div class="publisher-left-nav">
    {{include leftnav}}
</div>
{{include listassets}}


</div>
{{>footer}}
</div>
<script src="{{url "/themes/publisher/js/jquery-1.10.2.min.js"}}"></script>
<script src="{{url "/themes/publisher/js/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/publisher/js/jquery.dlmenu.js"}}"></script>
<script src="{{url "/themes/publisher/js/publisher.commons.js"}}"></script>
<script src="{{url "/themes/publisher/js/logic/create.asset.js"}}"></script>
<script>
    $(function() {
        $( '#dl-menu' ).dlmenu({
            animationClasses : { classin : 'dl-animate-in-2', classout : 'dl-animate-out-2' }
        });
    });
</script>
<script src="{{url "/themes/publisher/js/logic/lifecycle.asset.js"}}"></script>
</body>
</html>
