<div class="row">
    {{#each assets}}
        <div id="app-tile-{{id}}" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div class="app-tile">
                <a href="{{tenantedUrl "/assets"}}/{{../type}}/{{id}}"
                   class="hover-overlay-container accessUrl">
                    <div class="ratio-responsive-4by3">
                        {{#if defaultThumbnail}}
                            <div class="ratio-responsive-item"
                                 style="background-color: #{{defaultThumbnail.color}};">
                                <span class="default-thumbnail responsive-text">{{defaultThumbnail.text}}</span>
                            </div>
                        {{else}}
                            <div class="ratio-responsive-img">
                                <img src="{{tenantedUrl "/api/mobileapp/getfile/"}}{{attributes.images_thumbnail}}" />
                            </div>
                        {{/if}}
                        {{> overlays/view}}
                        {{#ifCond attributes.overview_platform "==" "android"}}
                            <div class="app-thumbnail-type background-color-android
                                        col-xs-2 col-sm-3 col-md-3 col-lg-3">
                                <span><i class="fw fw-android"></i></span>
                            </div>
                        {{/ifCond}}
                        {{#ifCond attributes.overview_platform "==" "ios"}}
                            <div class="app-thumbnail-type background-color-apple
                                        col-xs-2 col-sm-3 col-md-3 col-lg-3">
                                <span><i class="fw fw-apple"></i></span>
                            </div>
                        {{/ifCond}}
                        {{#ifCond attributes.overview_platform "==" "webapp"}}
                            <div class="app-thumbnail-type background-color-webapps
                                        col-xs-2 col-sm-3 col-md-3 col-lg-3">
                                <span><i class="fw  fw-cloud"></i></span>
                            </div>
                        {{/ifCond}}
                    </div>
                </a>

                <div class="summery">
                    <a href="{{tenantedUrl "/assets"}}/{{../type}}/{{id}}">
                    <h4>{{attributes.overview_displayName}}</h4>
                    <h5>{{attributes.overview_version}} </h5>
                    </a>
                         <span class="rating">
                             {{assetRating rating}}
                         </span>

                    <div class="more-menu pull-right dropup">
                        <a href="#" class="more-menu-btn dropdown-toggle" data-toggle="dropdown"
                           title="Click for more options">
                            <i class="fw fw-ellipsis fw-rotate-90"></i>
                        </a>
                        <ul class="more-menu-items dropdown-menu">
                            <li><a href="{{tenantedUrl "/assets"}}/{{../type}}/{{id}}">More Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {{/each}}
</div>