{{!-- header --}}
<header class="header header-default">
    <input type="hidden" value="{{storeTenantDomain}}" id="store-tenant-domain" />
    <input type="hidden" name="tenant-store" id="user-tenant-id" value="{{user.tenantId}}">
    <input type="hidden" name="tenant-store" id="user-name" value="{{user.username}}">
    <input type="hidden" name="logged-in-user-tenant-domain" id="logged-in-user-tenant-domain" value="{{user.tenantDomain}}">

    <div class="container-fluid">
        <div class="brand pull-left float-remove-xs text-center-xs">
        {{#if storeTenantDomain}}
            <a href="{{url "/t/"}}{{storeTenantDomain}}">
        {{else}}
            <a href="{{url "/"}}">
        {{/if}}
                <img src="{{customThemeUrl "/img/logo.png"}}" class="logo" />

                <h1 class="display-block-xs"> Cloud</h1>
            </a>
        </div>



        <div class="auth remove-margin-right pull-right float-remove-xs text-center-xs">
            {{#if user}}
                    <a href="#" class="dropdown add-20-left-margin" data-toggle="dropdown">
                        <span class="hidden-xs add-padding-left-3x">{{strictUserName}}<span class="caret"></span></span>
                        <span class="icon fw-stack fw-lg"><i class="fw fw-user fw-stack-1x"></i></span>
                    </a>
                <ul class="dropdown-menu float-remove-xs position-static-xs text-center-xs remove-margin-xs"
                    role="menu" >
                    <li class="dropdown-header visible-xs">{{user.username}}<span class="caret"></span></li>
                    <li class="divider visible-xs"></li>
                    <li><a href="{{url "/logout"}}">{{t "Sign Out"}}</a></li>
                </ul>
            {{else}}
                {{#unless hideLogin}}
                    {{#if sso}}
                        <a href="{{tenantedUrl "/login?header=true"}}" class="header-action">
                            <span class="icon"><i class="glyphicon glyphicon-off add-padding-right-1x"></i></span>
                            <span class="text-uppercase">{{t "Sign In"}}</span>
                        </a>
                    {{else}}
                        <a href="#" class="header-action" data-toggle="modal" data-target="#modal-login">
                            <span class="icon"><i class="glyphicon glyphicon-off add-padding-right-1x"></i></span>
                            <span class="text-uppercase">{{t "Sign In"}}</span>
                        </a>
                    {{/if}}
                    {{#if isSelfSignUpEnabledForTenant}}
                        <a href="#" class="header-action" data-toggle="modal" data-target="#register-modal">
                            <span class="icon"><i class="fw fw-sign-up add-padding-right-1x"></i></span>
                            <span class="text-uppercase">register</span>
                        </a>
                        {{>register}}
                    {{/if}}
                {{/unless}}
            {{/if}}
        </div>
        {{#if strictUserName}}
        <a href="#" class="dropdown pull-right" data-toggle="dropdown" title="User Account">
            <span class="hidden-xs add-padding-left-3x">{{user.tenantDomain}}</span>
            <span class="icon fw-stack fw-lg"><i class="fw fw-organization fw-stack-1x"></i></span>
        {{/if}}
        </a>
    </div>
</header>
