<div class="navbar-wrapper navbar-search hidden-lg hidden-md">
    <a class="navbar-menu-toggle hidden-sm hidden-lg hidden-md" data-toggle="sidebar" data-target="#left-sidebar"
       data-container=".page-content-wrapper" data-container-divide="true" aria-expanded="false"
       rel="leftmenu-sidebar">
            <span class="icon fw-stack">
                <i class="fw fw-menu fw-stack-1x toggle-icon-left-arrow"></i>
            </span>
    </a>
</div>
{{!-- page header - title --}}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="page-title pull-left">{{t title}}</h3>
{{!-- add home page setting option for favouriete page--}}
{{#if myFav}}
    <div class="page-title-setting dropdown">
        <a id="dropdown-toggle-conf" href="#" class="dropdown-toggle" data-toggle="dropdown" title="Settings for this page">
            <i class="fw fw-settings fw-rotate-90">&nbsp;</i><span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li><a href="#">
            {{#if isHomePage}}
                <span id="rmv-home">Remove this page as the home page of the User Portal</span>
                <span id="set-home" style="display: none">Set this page as the home page of the User Portal</span>

            {{else}}
                <span id="set-home">Set this page as the home page of the User Portal</span>
                <span id="rmv-home" style="display: none">Remove this page as the home page of the User Portal</span>
            {{/if}}
            </a></li>
        </ul>
    </div>
{{/if}}
{{!-- page header - sorting options --}}
{{#if sorting}}
    <div class="pull-right">
        <div class="sorting-option">
            <div class="btn-group" role="group">
                {{#each sorting.options}}
                    <a href="{{tenantedUrl this.url}}" class="btn btn-default" title="{{t title}}">
                        <i class="{{class}}"></i>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
{{/if}}
    </div>
</div>