{{!-- page content - favourite apps --}}
{{#each favouriteApps}}
    <div class="row page-title">
            <div class="fav-app-title">{{type}}</div><!--title-->
    </div>
    <div class="row">
        {{#each assets}}
            {{#if isActive}}
                <div id="app-tile-{{uuid}}" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="app-tile">
                        <a href="{{gatewayUrl}}" target="_blank" data-id="{{uuid}}"
                           data-name="{{appName}}" data-version="{{version}}"
                           data-context="{{context}}" data-stats="usage" class="hover-overlay-container">
                            <div class="ratio-responsive-4by3">
                                {{#ifCond lifecycleState "==" "DEPRECATED"}}
                                    {{> ribbons/deprecated}}
                                {{/ifCond}}
                                {{#if defaultThumbnail}}
                                    <div class="ratio-responsive-item"
                                         style="background-color: #{{defaultThumbnail.color}};">
                                        <span class="default-thumbnail responsive-text">{{defaultThumbnail.text}}</span>
                                    </div>
                                {{else}}
                                    <div class="ratio-responsive-img">
                                        <img src="{{url "/storage/webapp/"}}{{uuid}}/{{thumburl}}" />
                                    </div>
                                {{/if}}
                                {{> overlays/launch}}
                            </div>
                        </a>

                        <div class="summery">
                            <h4>{{appDisplayName}}</h4>
                            <h5>&nbsp</h5>

                         <span class="rating">
                             {{assetRating rating}}
                         </span>

                            <div class="more-menu pull-right dropup">
                                <a href="#" class="more-menu-btn dropdown-toggle" data-toggle="dropdown"
                                   title="Click for more options">
                                    <i class="fw fw-ellipsis fw-rotate-90"></i>
                                </a>
                                <ul class="more-menu-items dropdown-menu">
                                    <li>
                                        <a href="#" id="rmv-{{uuid}}" data-name="{{appName}}"
                                           data-provider="{{appProvider}}"
                                           data-version="{{version}}" class="remove-from-fav">
                                            Remove from Favorites
                                        </a>
                                    </li>
                                    <li><a href="{{tenantedUrl "/assets/webapp"}}/{{uuid}}">More Details</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {{else}}
                <div id="app-tile-{{uuid}}" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="app-tile">
                        <a href="#" class="hover-overlay-inactive-container" title="{{lifecycleState}}">
                            <div class="ratio-responsive-4by3">
                                {{> ribbons/inactive}}
                                {{#if defaultThumbnail}}
                                    <div class="ratio-responsive-item"
                                         style="background-color: #{{defaultThumbnail.color}};">
                                        <span class="default-thumbnail responsive-text">{{defaultThumbnail.text}}</span>
                                    </div>
                                {{else}}
                                    <div class="ratio-responsive-img">
                                        <img src="{{url "/storage/webapp/"}}{{uuid}}/{{thumburl}}" />
                                    </div>
                                {{/if}}

                                {{> overlays/inactive}}
                            </div>
                        </a>

                        <div class="summery">
                            <h4>{{appDisplayName}}</h4>
                            <h5>&nbsp</h5>

                            <p>{{appProvider}}</p>
                         <span class="rating">
                             {{assetRating rating}}
                         </span>

                            <div class="more-menu pull-right dropup">
                                <a href="#" class="more-menu-btn dropdown-toggle" data-toggle="dropdown"
                                   title="Click for more options">
                                    <i class="fw fw-ellipsis fw-rotate-90"></i>
                                </a>
                                <ul class="more-menu-items dropdown-menu">
                                    <li>
                                        <a href="#" id="rmv-{{uuid}}" data-name="{{appName}}"
                                           data-provider="{{appProvider}}"
                                           data-version="{{version}}" class="remove-from-fav">
                                            Remove from Favorites
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            {{/if}}
        {{/each}}
    </div>
{{/each}}

{{#unless favouriteApps}}
    {{> no-favourites-found}}
{{/unless}}
