<div class="col-md-8">

	{{#if assets}}

		{{#each assets}}

            <div class="col-md-2 app-assets-wrapper">
                <div class="app-assets">
                    <a href="{{url "/assets"}}/{{type}}/{{id}}">
                        <img class="app-assets-icon"
                             src="{{#if attributes.images_thumbnail}}{{attributes.images_thumbnail}}{{/if}}">
                    </a>
                    <div class="app-assets-info">
                        <div class="app-assets-name">
							{{attributes.overview_displayName}}
                        </div>
                        <div class="app-assets-provider">
							{{attributes.overview_provider}}
                        </div>
                    </div>

                    <div class="app-assets-icon-info">
                        <i title="{{attributes.overview_platform}}" class="fw {{iconImage attributes.overview_platform}} fw-1_5x fw-inverse"></i>
                        <i title="{{attributes.overview_type}}" class="fw {{iconImageType attributes.overview_type}} fw-1_5x fw-inverse"></i>
                    </div>

                    <span class="app-assets-rating"> </span>
                </div>
            </div>

		{{/each}}

	{{/if}}

</div>

