<header>
    <div class="row wr-global-header">
        <div class="col-xs-6 col-sm-6 col-lg-8 app-logo">
            <a href="{{url "/"}}"><img src="{{url "/themes/store/img/logo.png"}}" /><h2 class="app-title"><span>App Store</span></h2></a>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-4 wr-auth-container">
            <div class="wr-auth pull-right">
                <a href="#" data-toggle="dropdown">
                    <div class="auth-img">
                        Administrator
                            <span class="fw-stack-md fw-lg">
                                <i class="fw fw-user fw-stack-1-5x"></i>
                            </span>
                    </div>
                </a>
                <div class="dropdown-menu">
                    <div class="cu-arrow"></div>
                    <div class="dropdown-menu-content">
                        <a class="filter-item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar">
    <div class="col-md-9 wr-action-container">
        <div class="wr-action-btn-bar">
            <a href="javascript:openCollapsedNav()" class="cu-btn wr-hidden-nav-toggle-btn">
                    <span class="fw-stack">
                        <i class="fw fw-tiles fw-stack-1-5x"></i>
                    </span>
            </a><a class="cu-btn page-title" href='{{url "/assets/webapp"}}'>
            <span class="fw-stack"></span>
            Web Apps
        </a>
        </div>
    </div>
</div>
<!-- secondary header - app bar -->

<!-- common navigation -->
<div id="hiddenNav" class="wr-hidden-nav">
    <ul>
        <li><a href="{{url "/assets/webapp"}}"><i class="fw fw-globe"></i>Web Apps</a></li>
        <li><a href="{{url "/assets/mobileapp"}}"><i class="fw fw-mobile"></i>Mobile Apps</a></li>
    </ul>
</div>
<!-- /common navigation -->