{{#if user}}
    <input type="hidden" value="{{user.username}}" id="loggedinuser" name="loggedinuser">
{{else}}
    <input type="hidden" value="{{user.username}}" id="loggedinuser" name="loggedinuser">
{{/if}}

<input type="hidden" value="{{config.localIP}}" id="localIP" name="localIP">
<input type="hidden" value="{{config.httpsPort}}" id="httpsPort" name="httpsPort">
<input type="hidden" value="{{sso}}" id="sso" name="sso">




<div class="assets-wrapper">
{{#each assets}}
<div class="row">

    {{#if assets}}

        <h3>{{plural}}</h3>

        {{#each assets}}

            <div class="col-xs-6 col-md-4 col-lg-2 app-assets-wrapper">
                {{#if isSubscribed}}
                    <div class="ribbon-wrapper-green"><div class="ribbon-green">Subscribed</div></div>
                {{/if}}
                {{#if indashboard}}
                    <div class="ribbon-wrapper-green"><div class="ribbon-green">Installed</div></div>
                {{/if}}
                <div class="app-assets">
                    <a href="{{url "/assets"}}/{{type}}/{{id}}">
                        <img class="app-assets-icon"
                             src="{{#if attributes.images_thumbnail}}{{attributes.images_thumbnail}}{{/if}}">
                    </a>
                    <div class="app-assets-info">
                        <div class="app-assets-name">
                            {{attributes.overview_displayName}}
                        </div>
                        <div class="app-assets-provider">
                            {{attributes.overview_provider}}
                        </div>
                    </div>

                    <div class="app-assets-icon-info">
                        <i title="{{attributes.overview_platform}}" class="fw {{iconImage attributes.overview_platform}} fw-1_5x fw-inverse"></i>
                        <i title="{{attributes.overview_type}}" class="fw {{iconImageType attributes.overview_type}} fw-1_5x fw-inverse"></i>

                    </div>

                    <span class="app-assets-rating"> {{#assetRating rating}}{{/assetRating}} </span>
                </div>
            </div>

        {{/each}}

    {{/if}}
</div>

{{/each}}
</div>