<div class="assets-wrapper">
    {{#if favouriteApps}}
        {{#each favouriteApps}}
            <div class="row">
                <h3>{{type}}</h3>
                {{#each assets}}
                    <div class="col-xs-6 col-md-4 col-lg-1-5 app-assets-wrapper">

                        <div class="app-assets">
                            <a href="{{gatewayUrl}}" target="_blank" data-name="{{appName}}"
                               data-version="{{version}}"
                               data-context="{{context}}" data-id="{{uuid}}" class="accessUrl">
                                {{#if defaultThumbnail}}
                                    <div class="app-assets-default-icon" style="background: #{{defaultThumbnail.color}};">
                                        {{defaultThumbnail.text}}
                                    </div>
                                {{else}}
                                    <div class="app-assets-icon">
                                            <img class="app-assets-icon"
                                                 src={{url "/storage/webapp/"}}{{uuid}}/{{thumburl}}"
                                                 data-name="{{appName}}" data-version="{{version}}"
                                                 data-context="{{context}}" data-id="{{uuid}} />
                                    </div>
                                {{/if}}
                            </a>

                            <div class="app-assets-icon-info" style="cursor:pointer">
                                <i title="Remove From Favourite"
                                   class="fw fw-minus fw-background-green fw-1_5x fw-inverse remove-from-fav"
                                   data-name="{{appName}}" data-provider="{{appProvider}}"
                                   data-version="{{version}}" id="rmv-{{uuid}}"></i>
                                <a href="{{tenantedUrl "/assets/webapp"}}/{{uuid}}">
                                    <i title="App Overview"
                                       class="fw fw-view fw-background-green fw-1_5x fw-inverse"></i>
                                </a>
                            </div>
                            <div class="app-assets-info">

                                <div class="app-assets-name">
                                    {{appDisplayName}}
                                </div>
                                <div class="app-assets-provider">
                                    {{appProvider}}
                                </div>
                                <span class="app-assets-rating"></span>
                            </div>
                        </div>

                    </div>
                {{/each}}
            </div>
        {{/each}}
    {{else}}
        <div class="well-large col-md-12 no-apps-box">
            <i class="fw fw-paste nothing-icon"></i> Sorry, We could not find any app for you
        </div>
    {{/if}}
</div>


