<header>
    <nav class="navbar navbar-default row wr-global-header">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="wr-app-bar-items app-logo" href="{{tenantedUrl "/"}}"><img src="{{url "/themes/store/img/logo.png"}}" /><h2 class="app-title"><span>App Store</span></h2></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                    {{#if user}}


                        <a href="{{tenantedUrl "/extensions/assets/mobileapp/subscriptions"}}">
                            <div class="auth-img">
                                {{t "My Apps"}}
                                <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                            </div>
                        </a>

                        <a href="#" data-toggle="dropdown">
                            <div class="auth-img">
                                {{user.username}}
                                <span class="fw-stack-md fw-lg">
                                <i class="fw fw-user fw-stack-1-5x"></i>
                            </span>
                            </div>
                        </a>

                        <div class="dropdown-menu">
                            <div class="cu-arrow"></div>
                            <div class="dropdown-menu-content">
                                <a class="filter-item" href="{{url "/logout"}}">Logout</a>
                            </div>
                        </div>

                    {{else}}

                        {{#if sso}}

                            <a href="{{tenantedUrl "/login"}}">
                                <div class="auth-img">
                                    {{t "Sign In"}}
                                    <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                                </div>
                            </a>

                        {{else}}

                            <a data-toggle="modal" data-target="#modal-login">
                                <div class="auth-img">
                                    {{t "Sign In"}}
                                    <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                                </div>
                            </a>

                        {{/if}}

                        <a href="#"  data-toggle="modal" data-target="#register-modal">
                            <div class="auth-img">
                                Register
                            <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                            </div>
                        </a>

                        {{>register}}

                    {{/if}}


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>


<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar">
    <div class="col-md-9 wr-action-container">
        <div class="wr-action-btn-bar">
            <a href="javascript:openCollapsedNav()" class="cu-btn wr-hidden-nav-toggle-btn">
                    <span class="fw-stack">
                        <i class="fw fw-tiles fw-stack-1-5x" id="openApps"></i>
                    </span>
            </a><a class="cu-btn page-title" href='{{tenantedUrl "/"}}'>
            <span class="fw-stack"></span>
            All Apps
        </a>
            {{#if isTenanted}}
                <a class="cu-btn page-title" href='{{url "/"}}'>
                    <span class="fw-stack"></span>
                    Public Store
                </a>
            {{/if}}
        </div>
    </div>
</div>
<!-- secondary header - app bar -->

<!-- common navigation -->
<div id="hiddenNav" class="wr-hidden-nav">
    <ul>
        <li><a href="{{tenantedUrl "/assets/webapp"}}"><i class="fw fw-web-app" id="webApps"></i>Web Apps</a></li>
        <li><a href="{{tenantedUrl "/assets/mobileapp"}}"><i class="fw fw-mobile"></i>Mobile Apps</a></li>
        <li><a href="{{tenantedUrl "/assets/site"}}"><i class="fw fw-website"></i>Sites</a></li>
    </ul>
</div>
<!-- /common navigation -->