{{!-- header --}}
<header class="header header-default">
    <input type="hidden" value="{{storeTenantDomain}}" id="store-tenant-domain"/>
    <input type="hidden" name="tenant-store" id="user-tenant-id" value="{{user.tenantId}}">
    <input type="hidden" name="tenant-store" id="user-name" value="{{user.username}}">
    <div class="container-fluid">
        <div class="brand pull-left float-remove-xs text-center-xs">
            <a href="{{url "/"}}">
                <img src="{{url "/themes/store/libs/theme-wso2_1.0/images/logo-inverse.svg"}}" alt="apps-store"
                     title="apps-store" class="logo" />

                <h1 class="display-block-xs">APP Store</h1>
            </a>
        </div>
        <div class="auth remove-margin-right pull-right float-remove-xs text-center-xs">
            {{#if user}}
                {{#if myFav}}
                    <a href="#">
                    <span class="icon fw-stack fw-lg"  style="cursor:pointer">
                            {{#if isHomePage}}
                                <i title="Remove from home page"
                                   class="fw fw-home fw-2_0x fw-inverse home-icon background-color-favorite fw-stack-1x   "
                                   id="rmv-home"></i>
                                <i title="Set this page as homepage"
                                   class="fw fw-home  fw-2_0x fw-inverse home-icon background-color-windows fw-stack-1x  "
                                   id="set-home" style="display: none"></i>

                            {{else}}
                                <i title="Set this page as homepage"
                                   class="fw fw-home fw-2_0x fw-inverse home-icon background-color-windows fw-stack-1x"
                                   id="set-home" style=></i>
                                <i title="Remove from home page"
                                   class="fw fw-home  fw-2_0x fw-inverse home-icon background-color-favorite fw-stack-1x "
                                   id="rmv-home" style="display: none"></i>
                            {{/if}}
                    </span>
                    </a>
                {{/if}}

                <a href="#" class="dropdown" data-toggle="dropdown">
                    <span class="hidden-xs add-padding-left-3x">{{user.username}}<span class="caret"></span></span>
                    <span class="icon fw-stack fw-lg"><i class="fw fw-user fw-stack-1x"></i></span>
                </a>
                <ul class="dropdown-menu float-remove-xs position-static-xs text-center-xs remove-margin-xs"
                    role="menu">
                    <li class="dropdown-header visible-xs">{{user.username}}<span class="caret"></span></li>
                    <li class="divider visible-xs"></li>
                    <li><a href="{{url "/logout"}}">{{t "Sign Out"}}</a></li>
                </ul>
            {{else}}
                {{#unless hideLogin}}
                    {{#if sso}}
                        <a href="{{tenantedUrl "/login?header=true"}}" class="header-action">
                            <span class="icon"><i class="glyphicon glyphicon-off add-padding-right-1x"></i></span>
                            <span class="text-uppercase">{{t "Sign In"}}</span>
                        </a>
                    {{else}}
                        <a href="#" class="header-action" data-toggle="modal" data-target="#modal-login">
                            <span class="icon"><i class="glyphicon glyphicon-off add-padding-right-1x"></i></span>
                            <span class="text-uppercase">{{t "Sign In"}}</span>
                        </a>
                    {{/if}}
                    {{#if isSelfSignUpEnabledForTenant}}
                        <a href="#" class="header-action" data-toggle="modal" data-target="#register-modal">
                            <span class="icon"><i class="fw fw-sign-up add-padding-right-1x"></i></span>
                            <span class="text-uppercase">register</span>
                        </a>
                        {{>register}}
                    {{/if}}
                {{/unless}}
            {{/if}}
        </div>
    </div>
</header>

{{!-- navbar --}}
{{#unless hideNavBar}}
    <nav class="actions-bar navbar navbar-default" data-spy="affix" data-offset-top="50" data-offset-bottom="40">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    {{#if isTenanted}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                <i class="fw fw-organization add-margin-right-1x"></i>
                                {{currentTenant}}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{url "/"}}">Public Store</a></li>
                            </ul>
                        </li>
                    {{/if}}
                    <li class="{{#ifCond assetType "==" "webapp"}}active{{/ifCond}}">
                        <a href="{{tenantedUrl "/extensions/assets/webapp/myapps"}}">
                            <span class="icon add-margin-right-1x"><i class="fw fw-web-app fw-lg"></i></span>Web Apps
                        </a>
                    </li>
                    <li class="{{#ifCond assetType "==" "mobileapp"}}active{{/ifCond}}">
                        <a href="{{tenantedUrl "/assets/mobileapp"}}">
                            <span class="icon add-margin-right-1x"><i class="fw fw-mobile fw-lg"></i></span>Mobile apps
                        </a>
                    </li>
                    <li class="{{#ifCond assetType "==" "site"}}active{{/ifCond}}">
                        <a href="{{tenantedUrl "/extensions/assets/site/myapps"}}">
                            <span class="icon add-margin-right-1x"><i class="fw fw-globe fw-lg"></i></span>Sites
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{{/unless}}