{{!--This partial is used by webapps and sits , mobile apps has
its own partion sinceit does not support tags--}}
{{!-- navigation --}}
<nav class="navigation">
    {{#each navigation}}
        {{#ifCond partial "==" "my-apps"}}
            <a id="my-apps-link" href="{{tenantedUrl this.url}}"
               class="{{#if active}}background-color-subscribe{{/if}}">
                <span class="icon background-color-subscribe"><i class="fw fw-application"></i></span>
                <span class="navigation-item hidden-xs hidden-sm background-color-on-hover-subscribe">
                    {{t "My Apps"}}
                </span>
            </a>
        {{/ifCond}}
        {{#ifCond partial "==" "my-favorites"}}
            <a id="my-favorites-link" href="{{tenantedUrl this.url}}"
               class="{{#if active}}background-color-favorite{{/if}}">
                <span class="icon background-color-favorite"><i class="fw fw-heart"></i></span>
                <span class="navigation-item hidden-xs hidden-sm background-color-on-hover-favorite">
                    {{t "My Favorites"}}
                </span>
            </a>
        {{/ifCond}}
        {{#ifCond partial "==" "all-apps"}}
            <a id="all-apps-link" href="{{tenantedUrl this.url}}"
               class="{{#if active}}background-color-all-apps{{/if}}">
                <span class="icon background-color-all-apps"><i class="fw fw-resource"></i></span>
                <span class="navigation-item hidden-xs hidden-sm background-color-on-hover-all-apps">
                    {{t "All Apps"}}
                </span>
            </a>
        {{/ifCond}}
    {{/each}}
</nav>

{{!-- left-column - tags --}}
<div class="add-margin-top-3x hidden-xs hidden-sm">
    <div class="tags-title"> {{t "Tags"}}</div>
    {{#if tags}}
        <ul class="tag-content">
            {{#each tags.data}}
                <li><a href="{{tenantedUrl ../tags.tagUrl}}?tag={{name}}">{{name}}</a></li>
            {{/each}}
        </ul>
    {{else}}
        <p>No Tags Found</p>
    {{/if}}

</div>

{{!-- left-column - recent apps --}}
<!--goes here {recentApps}-->
