{{!--This partial is used by webapps and sits , mobile apps has
its own partion sinceit does not support tags--}}
{{!-- navigation --}}
<nav class="navigation">
    {{#each navigation}}
        {{#ifCond partial "==" "my-apps"}}
            <a id="my-apps-link" href="{{tenantedUrl this.url}}"
               class="{{#if active}}background-color-subscribe{{/if}}">
                <span class="icon background-color-subscribe"><i class="fw fw-application"></i></span>
                <span class="navigation-item hidden-xs hidden-sm background-color-on-hover-subscribe">
                    {{t "My Apps"}}
                </span>
            </a>
        {{/ifCond}}
        {{#ifCond partial "==" "my-favorites"}}
            <a id="my-favorites-link" href="{{tenantedUrl this.url}}"
               class="{{#if active}}background-color-favorite{{/if}}">
                <span class="icon background-color-favorite"><i class="fw fw-heart"></i></span>
                <span class="navigation-item hidden-xs hidden-sm background-color-on-hover-favorite">
                    {{t "My Favorites"}}
                </span>
            </a>
        {{/ifCond}}
        {{#ifCond partial "==" "all-apps"}}
            <a id="all-apps-link" href="{{tenantedUrl this.url}}"
               class="{{#if active}}background-color-all-apps{{/if}}">
                <span class="icon background-color-all-apps"><i class="fw fw-resource"></i></span>
                <span class="navigation-item hidden-xs hidden-sm background-color-on-hover-all-apps">
                    {{t "All Apps"}}
                </span>
            </a>
        {{/ifCond}}
    {{/each}}
    {{#if navigation}}
        <div class="hidden-xs" style="width: 200px; height: 0;"></div>
    {{/if}}
</nav>

{{!-- left-column - tags --}}
<div class="add-margin-top-3x hidden-xs hidden-sm">
    <div class="section-title"> {{t "Tags"}}</div>
    {{#if tags}}
        <ul class="tags">
            {{#each tags.data}}
                <li><a href="{{tenantedUrl ../tags.tagUrl}}?tag={{name}}">{{name}}</a></li>
            {{/each}}
        </ul>
    {{else}}
        <p>No Tags Found</p>
    {{/if}}

</div>

{{!-- left-column - recent apps --}}
{{#if recentApps}}
    <div class="add-margin-top-3x hidden-xs hidden-sm">
        <div class="section-title">{{t "Recent Apps"}}</div>
        <ul class="recent-app-items">
            {{#each recentApps}}
                <li>
                {{#ifCond attributes.overview_advertiseOnly "==" "true"}}
                            <a href="{{url "/t"}}/{{attributes.overview_appTenant}}/assets/{{../../../assetType}}/{{attributes.overview_advertisedAppUuid}}">
                {{else}}
                    <a href="{{tenantedUrl "/assets/"}}{{../../assetType}}/{{id}}">
                {{/ifCond}}
                        <div class="recent-app-item-thumbnail">
                            {{#if defaultThumbnail}}
                                <div style="background-color: #{{defaultThumbnail.color}};">
                                    <span>{{defaultThumbnail.text}}</span>
                                </div>
                            {{else}}
                                <img src="{{attributes.images_thumbnail}}" />
                            {{/if}}
                        </div>
                        <div class="recent-app-item-summery">
                            <h4 class="media-heading">{{attributes.overview_displayName}} </h4>
                            {{attributes.overview_version}}
                        </div>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}