{{!-- page content - my apps page --}}
<div class="row">
    {{#each assets}}
        {{#if isActive}}
            <div id="app-tile-{{id}}" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <div class="app-tile">
                    <a href="{{accessUrl}}" target="_blank" data-id="{{id}}"
                       data-name="{{attributes.overview_name}}" data-version="{{attributes.overview_version}}"
                       data-context="{{attributes.overview_context}}" class="hover-overlay-container">
                        <div class="ratio-responsive-4by3">
                            {{> ribbons/favorite}}
                            {{#ifCond attributes.overview_advertiseOnly "==" "true"}}
                                {{> ribbons/advertise}}
                            {{/ifCond}}
                            {{#ifCond lifecycleState "==" "DEPRECATED"}}
                                {{> ribbons/deprecated}}
                            {{/ifCond}}
                            {{#if defaultThumbnail}}
                                <div class="ratio-responsive-item responsive-text"
                                     style="background-color: #{{defaultThumbnail.color}};">
                                    <span class="default-thumbnail">{{defaultThumbnail.text}}</span>
                                </div>
                            {{else}}
                                <div class="ratio-responsive-img">
                                    <img src="{{attributes.images_thumbnail}}" />
                                </div>
                            {{/if}}

                            {{#if accessUrl}}
                                {{> overlays/launch}}
                            {{else}}
                                {{> overlays/view}}
                            {{/if}}
                        </div>
                    </a>

                    <div class="summery">
                        <h4>{{attributes.overview_displayName}}</h4>
                        <h5>{{attributes.overview_version}}</h5>

                        <p>{{attributes.overview_provider}}</p>
                    <span class="rating">
                        {{assetRating rating}}
                    </span>

                        <div class="more-menu pull-right dropup">
                            <a href="#" class="more-menu-btn dropdown-toggle" data-toggle="dropdown"
                               title="Click for more options">
                                <i class="fw fw-ellipsis fw-rotate-90"></i>
                            </a>
                            <ul class="more-menu-items dropdown-menu">
                                {{#if ../../user}}
                                    <li id="listItemRmvFavorite-{{id}}" {{#unless isFavourite}}
                                        style="display: none" {{/unless}}>
                                        <a href="#" id="rmv-{{id}}" data-name="{{attributes.overview_name}}"
                                           data-provider="{{attributes.overview_provider}}"
                                           data-version="{{attributes.overview_version}}" class="remove-from-fav">
                                            Remove from Favorites
                                        </a>
                                    </li>
                                    <li id="listItemAddFavorite-{{id}}" {{#if isFavourite}}
                                        style="display: none" {{/if}}>
                                        <a href="#" id="add-{{id}}" data-name="{{attributes.overview_name}}"
                                           data-provider="{{attributes.overview_provider}}"
                                           data-version="{{attributes.overview_version}}" class="add-to-fav">
                                            Add to Favorites
                                        </a>
                                    </li>
                                {{/if}}
                                {{#ifCond attributes.overview_advertiseOnly "==" "true"}}
                                    <li>
                                        <a href="{{url "/t"}}/{{attributes.overview_appTenant}}/assets/{{../../../assetType}}/{{attributes.overview_advertisedAppUuid}}">
                                            More Details
                                        </a>
                                    </li>
                                {{else}}
                                    <li><a href="{{tenantedUrl "/assets/"}}{{../../../assetType}}/{{id}}">More Details</a>
                                    </li>
                                {{/ifCond}}
                                {{#if ../../user}}
                                    {{#if ../../../config.isSelfSubscriptionEnabled}}
                                        {{#if ../../../../config.isEnterpriseSubscriptionEnabled}}
                                            <li>
                                                <a href="#" class="btnUnsubscribe" data-name="{{attributes.overview_name}}"
                                                   data-provider="{{attributes.overview_provider}}"
                                                   data-version="{{attributes.overview_version}}">
                                                    {{t "Un-Subscribe"}}
                                                </a>
                                            </li>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            <div id="app-tile-{{id}}" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <div class="app-tile">
                    <a href="#" class="hover-overlay-inactive-container" title="{{lifecycleState}}">
                        <div class="ratio-responsive-4by3">
                            {{> ribbons/inactive}}
                            {{#if defaultThumbnail}}
                                <div class="ratio-responsive-item responsive-text"
                                     style="background-color: #{{defaultThumbnail.color}};">
                                    <span class="default-thumbnail">{{defaultThumbnail.text}}</span>
                                </div>
                            {{else}}
                                <div class="ratio-responsive-img">
                                    <img src="{{attributes.images_thumbnail}}" />
                                </div>
                            {{/if}}
                            {{> overlays/inactive}}
                        </div>
                    </a>

                    <div class="summery">
                        <h4>{{attributes.overview_displayName}}</h4>
                        <h5>{{attributes.overview_version}}</h5>

                        <p>{{attributes.overview_provider}}</p>
                    <span class="rating">
                        {{assetRating rating}}
                    </span>

                        <div class="more-menu pull-right dropup">
                            <a href="#" class="more-menu-btn dropdown-toggle" data-toggle="dropdown"
                               title="Click for more options">
                                <i class="fw fw-ellipsis fw-rotate-90"></i>
                            </a>
                            <ul class="more-menu-items dropdown-menu">
                                {{#if ../../user}}
                                    <li id="listItemRmvFavorite-{{id}}" {{#unless isFavourite}}
                                        style="display: none" {{/unless}}>
                                        <a href="#" id="rmv-{{id}}" data-name="{{attributes.overview_name}}"
                                           data-provider="{{attributes.overview_provider}}"
                                           data-version="{{attributes.overview_version}}" class="remove-from-fav">
                                            Remove from Favorites
                                        </a>
                                    </li>
                                    <li id="listItemAddFavorite-{{id}}" {{#if isFavourite}}
                                        style="display: none" {{/if}}>
                                        <a href="#" id="add-{{id}}" data-name="{{attributes.overview_name}}"
                                           data-provider="{{attributes.overview_provider}}"
                                           data-version="{{attributes.overview_version}}" class="add-to-fav">
                                            Add to Favorites
                                        </a>
                                    </li>


                                    {{#if ../../../config.isSelfSubscriptionEnabled}}
                                        {{#if ../../../../config.isEnterpriseSubscriptionEnabled}}
                                            <li>
                                                <a href="#" class="btnUnsubscribe"
                                                   data-name="{{attributes.overview_name}}"
                                                   data-provider="{{attributes.overview_provider}}"
                                                   data-version="{{attributes.overview_version}}">
                                                    {{t "Un-Subscribe"}}
                                                </a>
                                            </li>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>

{{#unless assets}}
    {{> no-apps-found}}
{{/unless}}

{{#unless config.isSelfSubscriptionEnabled}}
    {{#unless config.isEnterpriseSubscriptionEnabled}}
        <!-- Both subscription options disabled-->
        <!--Navigation-->
        {{#if assets}}
            <!-- pagination -->
            <div class="pull-right-lg pull-right-md text-center-sm text-center-xs add-padding-bottom-2x">
                <div class="btn-group" role="group">
                    {{#if leftNav}}
                        <a href="{{tenantedUrl "/extensions/assets/"}}{{../assetType}}/myapps?{{this.urlQuery}}{{t "page="}}{{this.leftNav}}"
                           class="btn btn-default btn-lg" title="Previous">
                            <i class="fw fw-left fw-lg"></i>
                        </a>
                        {{#if rightNav}}
                            <a href="{{tenantedUrl "/extensions/assets/"}}{{../assetType}}/myapps?{{this.urlQuery}}{{t "page="}}{{this.rightNav}}"
                               class="btn btn-default btn-lg" title="Next">
                                <i class="fw fw-right fw-lg"></i>
                            </a>
                        {{else}}
                            <a href="#" class="btn btn-default btn-lg disabled" title="Next">
                                <i class="fw fw-right fw-lg"></i>
                            </a>
                        {{/if}}
                    {{else}}
                        {{#if rightNav}}
                            <a href="#" class="btn btn-default btn-lg disabled" title="Previous">
                                <i class="fw fw-left fw-lg"></i>
                            </a>
                            <a href="{{tenantedUrl "/extensions/assets/"}}{{../assetType}}/myapps?{{this.urlQuery}}{{t "page="}}{{this.rightNav}}"
                               class="btn btn-default btn-lg" title="Next">
                                <i class="fw fw-right fw-lg"></i>
                            </a>
                        {{else}}
                            <!--no pagination}-->
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        {{/if}}
    {{/unless}}
{{/unless}}