{{#if .}}
<div class="row">
    <h3>Recent Apps</h3>
    <hr>


    {{#slice . count="20" size="20"}}
        {{#each .}}
            {{#compare  attributes.overview_advertiseOnly "true" operator="=="}}
            <a href="{{url "/t"}}/{{attributes.overview_appTenant}}/assets/{{type}}/{{attributes.overview_advertisedAppUuid}} ">
            {{else}}
            <a href="{{tenantedUrl "/assets"}}/{{type}}/{{id}}">
            {{/compare}}
            <div class="row">
                    <div class="col-md-8">
                        {{#if defaultThumbnail}}
                            <div class="app-assets-default-icon col-md-5"
                                 style="background: #{{defaultThumbnail.color}}; color: white; min-height: 100px;">
                                {{defaultThumbnail.text}}
                            </div>
                        {{else}}
                            <img class="app-assets-icon col-md-12" style="min-height: 100px;"
                                 src="{{attributes.images_thumbnail}}">
                        {{/if}}
                        <div class="recent-app-assets-name">{{attributes.overview_displayName}}</div>
                        <div class="recent-app-asset-provider">{{attributes.overview_provider}}</div>
                        <span class="app-assets-rating"> {{#assetRating rating}}{{/assetRating}} </span>
                    </div>
            </div>
            </a>
            <hr>
        {{/each}}
    {{/slice}}


</div>
{{/if}}