<div class="col-md-12 asset-wrapper">
    <div class="row">
        <div class="col-md-8">
            <img class="col-md-12 hidden-xs hidden-sm" src="{{#if asset.attributes.images_banner}}{{ asset.attributes.images_banner}}{{/if}}">
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-xs-12 app-asset-icon">
                    <img class="col-md-8 col-xs-8 col-centered" src="{{#if asset.attributes.images_thumbnail}}{{ asset.attributes.images_thumbnail}}{{/if}}">
                 </div>
            </div>
            <div class="row">
                <div class="app-asset-title">{{#if asset.attributes.overview_displayName}}{{ asset.attributes.overview_displayName}}{{/if}}</div>
                <div class="app-asset-provider">by: {{#if asset.attributes.overview_provider}}{{ asset.attributes.overview_provider}}{{/if}}, version: {{#if asset.attributes.overview_version}}{{ asset.attributes.overview_version}}{{/if}}</div>
            </div>
            <div class="app-asset-icon-info">
                <i title="{{asset.attributes.overview_platform}}" class="fw {{iconImage asset.attributes.overview_platform}} fw-1_5x fw-inverse"></i>
                <i title="{{asset.attributes.overview_type}}" class="fw {{iconImageType asset.attributes.overview_type}} fw-1_5x fw-inverse"></i>
            </div>

            <div class="app-assets-rating">
                {{#assetRating asset.rating}}{{/assetRating}}
            </div>
            <div class="row app-asset-buttons col-md-12 col-xs-12">
                {{#if user}}
                    {{#if inDashboard}}
                        {{#if isDeviceSubscriptionEnabled}}
                            <a id="btn-add-gadget" href="#" data-app="{{asset.id}}" data-platform="{{asset.attributes.overview_platform}}" data-toggle="modal" data-target="#modalDevices" class="btn btn-primary btn-add-gadget">{{t "Installed"}}</a>
                        {{else}}
                            <a id="btn-add-gadget-install" href="#" data-app="{{asset.id}}" data-platform="{{asset.attributes.overview_platform}}" class="btn btn-primary btn-add-gadget">{{t "Installed"}}</a>
                        {{/if}}
                    {{else}}
                        {{#if isDeviceSubscriptionEnabled}}
                            <a id="btn-add-gadget" href="#" data-app="{{asset.id}}" data-platform="{{asset.attributes.overview_platform}}" data-toggle="modal" data-target="#modalDevices" class="btn btn-primary btn-add-gadget">{{t "Install"}}</a>
                        {{else}}
                            <a id="btn-add-gadget-install" href="#" data-app="{{asset.id}}" data-platform="{{asset.attributes.overview_platform}}" class="btn btn-primary btn-add-gadget">{{t "Install"}}</a>
                        {{/if}}
                    {{/if}}
                {{else}}
                    <a id="btn-add-gadget" class="btn btn-primary btn-add-gadget" href="{{tenantedUrl "/login"}}">{{t "Install"}}</a>
                 {{/if}}

                 {{#if isEnterpriseInstallEnabled}}
                <a href="#" id="btn-ent-install" data-aid="{{asset.id}}" data-toggle="modal" data-target="#modalEnterpriseInstall" class="btn btn-primary btn-add-gadget">{{t "Enterprise Install"}}</a>
                         <input id="isEnterpriseInstallEnabled" type="hidden" value="true">
                 {{/if}}
            </div>
        </div>
    </div>


    <div class="row app-asset-description-section">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#info">App Info</a></li>
            <li><a data-toggle="tab" href="#comments">Comments</a></li>
        </ul>
        <div class="tab-content">
            <div id="info" class="tab-pane fade in active">
                <h3>Description</h3>
                <p>{{#if asset.attributes.overview_displayName}}{{ asset.attributes.overview_description}}{{/if}}</p>
                {{#compare asset.attributes.overview_recentchanges "-" operator="!="}}
                    <h3>Recent Changes</h3>
                <p>{{ asset.attributes.overview_recentchanges}}</p>
                {{/compare}}
                <hr>
                <h3>Screenshots</h3>
                <div class="col-md-12">
                    {{#asset.attributes.images_screenshots}}
                        {{#if this}}
                            <img class="col-md-3 app-asset-screenshot" src="{{this}}">
                        {{/if}}
                    {{/asset.attributes.images_screenshots}}
                </div>
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Comments</h3>
                Comments are here
            </div>
        </div>

    </div>


    <div class="modal fade" id="modalDevices">
        <div class="modal-dialog-devices">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Install {{ asset.attributes.overview_displayName}}</h4>
                </div>
                <div class="modal-body">

                    <div class='row'>
                        <div class='col-md-12'>
                            <div class="carousel slide media-carousel" id="media">
                                <div class="carousel-inner" id="devicesList">


                                </div>
                                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                                <a data-slide="next" href="#media" class="right carousel-control">›</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="modalEnterpriseInstall">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Enterprise Install</h4>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-tabs" id="ent-install-tabs">
                        <li class="active"><a data-toggle="tab" data-name="roles" href="#ent-roles">Roles</a></li>
                        <li><a data-toggle="tab" data-name="users" href="#ent-users">Users</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="ent-roles" class="tab-pane fade in active">
                            <div class="form-inline pull-left" style="padding:2px"><label>Search: &nbsp;</label><input id="userId" type="text" style="margin-right:5px"></div>
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="roles-table">
                                <thead>
                                <tr>
                                    <th>Role name</th>
                                    <th>#</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="ent-users" class="tab-pane fade">
                            <div class="form-inline pull-left" style="padding:2px"><label>Search: &nbsp;</label><input id="userId" type="text" style="margin-right:5px"></div>
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="users-table">
                                <thead>
                                <tr>
                                    <th>User name</th>
                                    <th>#</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {{#compare "webapp" asset.attributes.overview_type}}
                    <div class="raw pull-left" id="isRemovable">
                        <input type="checkbox" name="Removable" id="chkRemovable" value="Removable" checked> <b>Make WebClip Uninstallable.</b>
                    </div>
                {{/compare}}

                <div class="modal-footer">
                    <button id="btn-apps-ent-install" class="btn btn-primary">Install</button>
                    <button id="btn-apps-ent-uninstall" class="btn btn-danger">Uninstall</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



</div>


