{{!-- page content - app details page --}}
<div class="page-content">
    {{!--banner content--}}
    <input type="hidden" id="devicePlatform" value="{{asset.attributes.overview_platform}}">
    <div class="app-details row remove-margin-left remove-margin-right">
        <div class="hidden-xs col-sm-7 col-md-6 col-lg-6 add-padding-1x">
            <div class="ratio-responsive-16by9 hover-overlay-container">
                <div class="ratio-responsive-img">
                    <img src="{{#if asset.attributes.images_banner}}{{url "/api/mobileapp/getfile/"}}{{ asset
                    .attributes.images_banner}}{{/if}}">
                </div>
            </div>
        </div>
        {{!--thumbnail content--}}
        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 add-padding-1x">
                    <div class="ratio-responsive-4by3">
                        <div class="ratio-responsive-img">
                            <img src="{{#if asset.attributes.images_thumbnail}}{{url "/api/mobileapp/getfile/"}}{{
                            asset.attributes.images_thumbnail}}{{/if}}"/>
                        </div>
                        <div class="app-thumbnail-type background-color-android col-xs-2 col-sm-3 col-md-3 col-lg-3">
                            <span><i class="fw {{iconImage asset.attributes.overview_platform}}"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {{!--app detail content--}}
                <div class="summery col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>{{asset.attributes.overview_displayName}}</h4>

                    <p>
                        Version : {{ asset.attributes.overview_version}}<br>
                        By : {{asset.attributes.overview_provider}}<br>
                        Type : {{asset.attributes.overview_type}}
                    </p>

                    <span class="rating">
                        {{assetRating asset.rating}}
                    </span>
                    {{!--buttons --}}
                    <div class="actions">
                        {{#if user}}
                            {{#if inDashboard}}
                                {{#if isDeviceSubscriptionEnabled}}
                                    <a id="btn-add-gadget" href="#" data-app="{{asset.id}}"
                                       data-platform="{{asset.attributes.overview_platform}}" data-toggle="modal"
                                       data-target="#modalInstallApp"
                                       class="btn btn-default"><i class="fw fw-refresh"></i>Re-Install</a>
                                {{else}}
                                    <a id="btn-add-gadget-install" href="#" data-app="{{asset.id}}"
                                       data-platform="{{asset.attributes.overview_platform}}"
                                       class="btn btn-default"><i class="fw fw-refresh"></i>Re-Install</a>
                                {{/if}}
                            {{!--Check if already subscribed to previous version of the app--}}
                            {{else}} {{#if isUpdatedApp}}
                                {{#if isDeviceSubscriptionEnabled}}
                                    <a id="btn-add-gadget-update" href="#" data-app="{{asset.id}}"
                                       data-platform="{{asset.attributes.overview_platform}}" data-toggle="modal"
                                       data-target="#modalUpdateApp"
                                       class="btn btn-default"><i class="fw fw-refresh"></i>Update</a>
                                {{else}}
                                    <a id="btn-add-gadget-install" href="#" data-app="{{asset.id}}"
                                       data-platform="{{asset.attributes.overview_platform}}"
                                       class="btn btn-default"><i class="fw fw-refresh"></i>Update</a>
                                {{/if}}
                            {{else}}
                                {{#if isDeviceSubscriptionEnabled}}
                                    <a id="btn-add-gadget" href="#" data-app="{{asset.id}}"
                                       data-platform="{{asset.attributes.overview_platform}}" data-toggle="modal"
                                       data-target="#modalInstallApp"
                                       class="btn btn-subscribe"> <i class="fw fw-mobile"></i>Install</a>
                                {{else}}
                                    <a id="btn-add-gadget-install" href="#" data-app="{{asset.id}}"
                                       data-platform="{{asset.attributes.overview_platform}}"
                                       class="btn btn-subscribe"> <i class="fw fw-mobile"></i>Install</a>
                                {{/if}}
                            {{/if}}{{/if}}
                        {{else}}
                            <a id="btn-add-gadget-install" href="{{tenantedUrl "/login"}}"
                               class="btn btn-subscribe"> <i class="fw fw-mobile"></i>Install</a>
                        {{/if}}

                        {{#if isEnterpriseInstallEnabled}}
                            <a href="#" id="btn-ent-install" data-aid="{{asset.id}}" data-toggle="modal"
                               data-target="#modalEnterpriseInstall"
                               class="btn btn-subscribe"><i class="fw fw-enterprise"></i>Ent. Install</a>
                            <input id="isEnterpriseInstallEnabled" type="hidden" value="true">
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!--tabs--}}
    <div class="app-details-tabs row">
        <ul class="nav nav-tabs add-margin-top-5x">
            <li class="active"><a data-toggle="tab" href="#menu1">Overview</a></li>
            <li><a data-toggle="tab" href="#menu2">Screenshots</a></li>
            <li><a data-toggle="tab" href="#menu3">User Reviews</a></li>
        </ul>
        {{!--tab contents--}}
        <div class="tab-content">
            {{!--overview tab content--}}
            <div id="menu1" class="tab-pane fade in active">
                <h3>Description</h3>

                <p>{{#if asset.attributes.overview_displayName}}{{ asset.attributes.overview_description}}{{/if}}</p>
                {{#compare asset.attributes.overview_recentchanges "-" operator="!="}}
                    <h3>Recent Changes</h3>

                    <p>{{ asset.attributes.overview_recentchanges}}</p>
                {{/compare}}
            </div>
            {{!--screen shot tab content--}}
            <div id="menu2" class="tab-pane fade">
                <div class="row">
                    {{#asset.attributes.images_screenshots}}
                        {{#if this}}
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="thumbnail">
                                    <img class="img-responsive" src="{{url "/api/mobileapp/getfile/"}}{{this}}"/>
                                </div>
                            </div>
                        {{/if}}
                    {{/asset.attributes.images_screenshots}}
                </div>
            </div>
            {{!--user review tab content--}}
            <div id="menu3" class="tab-pane fade">
                <div class="row">
                    <iframe name="socialIfr" id="socialIfr" class="col-lg-12 col-md-12 col-sm-4 "
                            style="border: none;"
                            src="{{socialURL}}/?target={{type}}:{{asset.id}}&user={{user.username}}">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- modal section--}}
<div class="modal fade" id="modalUpdateApp">
    <div class="modal-dialog">
        <div class="modal-content ep-install-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Schedule Update</h4>
            </div>
            <div class="modal-body">
                <br><br>
                <label class="wr-input-control checkbox">
                    <input id="instant-update" type="checkbox" class="form-control operationDataKeys"
                           data-key="instant-update"/>
                    <span class="helper" title="Once enabled, application update will start instantly.">
              &nbsp;&nbsp;&nbsp;Instant Update
              <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
          </span>
                </label>
                <br><br>
                <div class='input-group date' id='dateTimePicker-update'>
                    Enter the date and time to schedule application update.
                    <br><br>
                    <div id="firmware-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <input type='text' class="form-control modal-input operationDataKeys" style="z-index : 900;"
                           name="daterange-update" id="schedule-update" data-key="schedule-update"/>
                    Date and time in the format of 04-30-2016 12:00 am
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('.modalpopup-bg').css('z-index', '1000');
                        $('.modalpopup-container').css('z-index', '1200');
                        $('input[name="daterange-update"]').daterangepicker({
                            singleDatePicker: true,
                            timePicker: true,
                            showDropdowns: true,
                            timePickerIncrement: 1,
                            locale: {
                                format: 'MM-DD-YYYY hh:mm a'
                            }
                        });
                    });
                    $('#instant-update').change(function () {
                        if ($(this).is(":checked")) {
                            $('#dateTimePicker-update').addClass("hidden");
                            $("#schedule-update").val('');
                        } else {
                            $('#dateTimePicker-update').removeClass("hidden");
                        }
                    });
                </script>
                <br>
                <br><br>
                Do you want to perform this operation?
                <br>
                <div class="modal-footer">
                    <a id="btn-schduled-update" href="#" data-app="{{asset.id}}"
                       data-platform="{{asset.attributes.overview_platform}}" data-toggle="modal"
                       class="btn btn-primary">Yes</a>
                    <a class="btn btn-danger" data-dismiss="modal">No</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->


<div class="modal fade" id="modalInstallApp">
    <div class="modal-dialog">
        <div class="modal-content ep-install-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Schedule Install</h4>
            </div>
            <div class="modal-body">
                <br><br>
                <label class="wr-input-control checkbox">
                    <input id="instant-install" type="checkbox" class="form-control operationDataKeys"
                           data-key="instant-install"/>
                    <span class="helper" title="Once enabled, application install will start instantly.">
           &nbsp;&nbsp;&nbsp;Instant install
             <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
            </span>
                </label>
                <br><br>
                <div class='input-group date' id='dateTimePicker-install'>
                    Enter the date and time to schedule application installation.
                    <br><br>
                    <div id="firmware-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <input type='text' class="form-control modal-input operationDataKeys" style="z-index : 900;"
                           name="daterange-install" id="schedule-install" data-key="schedule-install"/>
                    Date and time in the format of 04-30-2016 12:00 am
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('.modalpopup-bg').css('z-index', '1000');
                        $('.modalpopup-container').css('z-index', '1200');
                        $('input[name="daterange-install"]').daterangepicker({
                            singleDatePicker: true,
                            timePicker: true,
                            showDropdowns: true,
                            timePickerIncrement: 1,
                            locale: {
                                format: 'MM-DD-YYYY hh:mm a'
                            }
                        });
                    });
                    $('#instant-install').change(function () {
                        if ($(this).is(":checked")) {
                            $('#dateTimePicker-install').addClass("hidden");
                            $("#schedule-install").val('');
                        } else {
                            $('#dateTimePicker-install').removeClass("hidden");
                        }
                    });
                </script>
                <br>
                <br><br>
                Do you want to perform this operation?
                <br>
                <div class="modal-footer">
                    <a id="btn-schduled-install" href="#" data-app="{{asset.id}}"
                       data-platform="{{asset.attributes.overview_platform}}" data-toggle="modal"
                       class="btn btn-primary">Yes</a>
                    <a class="btn btn-danger" data-dismiss="modal">No</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->


<div class="modal fade" id="modalDevices">
    <div class="modal-dialog-devices">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Install {{ asset.attributes.overview_displayName}}</h4>
            </div>
            <div class="modal-body">

                <div class='row'>
                    <div class='col-md-12'>
                        <div class="carousel slide media-carousel" id="media">
                            <div class="carousel-inner" id="devicesList">


                            </div>
                            <ul class="pager">
                                <li><a data-slide="prev" href="#media">Prev</a></li>
                                <li><a data-slide="next" href="#media">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="modalEnterpriseInstall">
    <div class="modal-dialog">
        <div class="modal-content ep-install-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enterprise Install</h4>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs" id="ent-install-tabs">
                    <li class="active"><a data-toggle="tab" data-name="roles" href="#ent-roles">Roles</a></li>
                    <li><a data-toggle="tab" data-name="users" href="#ent-users">Users</a></li>
                </ul>
                <div class="tab-content">
                    <div id="ent-roles" class="tab-pane fade in active ">
                        <div class="form-inline pull-left" style="padding:2px"><label>Search: &nbsp;</label><input id="roleId" type="text" style="margin-right:5px"></div>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered "
                               id="roles-table">
                            <thead>
                            <tr>
                                <th>Role name</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div id="ent-users" class="tab-pane fade">
                        <div class="form-inline pull-left" style="padding:2px"><label>Search: &nbsp;</label><input id="userId" type="text" style="margin-right:5px"></div>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
                               id="users-table">
                            <thead>
                            <tr>
                                <th>User name</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <div>
                    <button id="btn-apps-ent-install" class="btn btn-primary">Install</button>
                    <button id="btn-apps-ent-uninstall" class="btn btn-danger">Uninstall</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->