<div class="assets-wrapper">
    {{#if assets}}
        {{#each assets}}
            <div class="col-xs-6 col-md-4 col-lg-1-5 app-assets-wrapper">
                {{#compare advertiseOnly  "true" operator="=="}}
                    <div class="ribbon-wrapper-orange">
                        <div class="ribbon-orange">Advertised</div>
                    </div>
                {{/compare}}
                <div class="app-assets">
                    <a href="{{accessUrl}}" target="_blank" data-name="{{appName}}"
                       data-version="{{version}}"
                       data-context="{{context}}" data-id="{{uuid}}" class="accessUrl">
                        <img class="app-assets-icon"
                             src="{{url "/storage/webapp/"}}{{uuid}}/{{thumburl}}"
                             data-name="{{appName}}"
                             data-version="{{version}}"
                             data-context="{{context}}" data-id="{{uuid}}>
                    </a>

                    <div class="app-assets-icon-info" style="cursor:pointer">
                        {{#if ../user}}
                            {{#if  isFavourite}}
                                <i title="Remove From Favourite"
                                   class="fw fw-minus fw-background-green fw-1_5x fw-inverse remove-from-fav"
                                   data-name="{{appName}}" data-provider="{{appProvider}}"
                                   data-version="{{version}}" id="rmv-{{uuid}}"></i>
                                <i title="Add To Favourite"
                                   class="fw fw-add fw-background-green fw-1_5x fw-inverse add-to-fav"
                                   data-name="{{appName}}" data-provider="{{appProvider}}"
                                   data-version="{{version}}" id="add-{{uuid}}" style="display: none"></i>
                            {{else}}
                                <i title="Remove From Favourite"
                                   class="fw fw-minus fw-background-green fw-1_5x fw-inverse remove-from-fav"
                                   data-name="{{appName}}" data-provider="{{appProvider}}"
                                   data-version="{{version}}" id="rmv-{{uuid}}" style="display: none"></i>
                                <i title="Add To Favourite"
                                   class="fw fw-add fw-background-green fw-1_5x fw-inverse add-to-fav"
                                   data-name="{{appName}}" data-provider="{{appProvider}}"
                                   data-version="{{version}}" id="add-{{uuid}}"></i>
                            {{/if}}
                        {{/if}}

                        <i title="processing" class="fw fw-refresh fw-spin  fw-1_5x"
                           id="wait-{{uuid}}" style="display: none"></i>
                        {{#compare  attributes.overview_advertiseOnly "true" operator="=="}}
                            <a href="{{url "/t"}}/{{appTenant}}/assets/webapp/{{advertisedAppUuid}}">
                                <i title="App Overview"
                                   class="fw fw-view fw-background-green fw-1_5x fw-inverse"></i>
                            </a>
                        {{else}}
                            <a href="{{tenantedUrl "/assets/webapp"}}/{{uuid}}">
                                <i title="App Overview"
                                   class="fw fw-view fw-background-green fw-1_5x fw-inverse"></i>
                            </a>
                        {{/compare}}
                    </div>


                    <div class="app-assets-info">

                        <div class="app-assets-name">
                            {{appName}}
                        </div>
                        <div class="app-assets-provider">
                            {{appProvider}}
                        </div>
                        <span class="app-assets-rating"> {{#assetRating rating}}{{/assetRating}} </span>
                    </div>
                </div>

            </div>
        {{/each}}
    {{else}}
        <div class="well-large col-md-12 no-apps-box">
            <i class="fw fw-paste nothing-icon"></i> Sorry, We could not find any app for you
        </div>
    {{/if}}
</div>


