<h1 class="map-heading">{{title}}</h1>
<ul class="nav nav-pills pull-right secondary-pills" style="margin-top: -43px !important;">
    {{#each menuItems.leftNavLinks}}
        {{#ifCond this.name "==" "Edit"  }}
            {{#if this.isEditable}}
                <li class="{{this.additionalClasses}}" {{#if this.title}}title="{{this.title}}"{{/if}}>
                    <a href="{{this.url}}" style="background: #efefef !important;">
                        {{#if this.iconClass}}
                            <i class="{{this.iconClass}}" style="font-size: 18px;"></i>
                        {{/if}}
                        {{this.name}}
                    </a>
                </li>
            {{/if}}
        {{else}}
            <li class="{{this.additionalClasses}}" {{#if this.title}}title="{{this.title}}"{{/if}}>
                <a href="{{this.url}}" style="background: #efefef !important;">
                    {{#if this.iconClass}}
                        <i class="{{this.iconClass}}" style="font-size: 18px;"></i>
                    {{/if}}
                    {{this.name}}
                </a>
            </li>
        {{/ifCond}}
    {{/each}}
</ul>
