<div class="col-md-8">
    <div class="row">
        <div class="col-md-8">
            <img class="col-md-12" src="{{#if asset.attributes.images_banner}}{{ asset.attributes.images_banner}}{{/if}}">
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 app-asset-icon">
                    <img class="col-md-8 col-centered" src="{{#if asset.attributes.images_thumbnail}}{{ asset.attributes.images_thumbnail}}{{/if}}">
                 </div>
            </div>
            <div class="row">
                <div class="app-asset-title">{{#if asset.attributes.overview_displayName}}{{ asset.attributes.overview_displayName}}{{/if}}</div>
                <div class="app-asset-provider">by: {{#if asset.attributes.overview_provider}}{{ asset.attributes.overview_provider}}{{/if}}, version: {{#if asset.attributes.overview_version}}{{ asset.attributes.overview_version}}{{/if}}</div>
            </div>
            <div class="app-assets-icon-info">
                <img class="app-assets-icon-info-platform" src="http://icons.iconarchive.com/icons/igh0zt/ios7-style-metro-ui/512/MetroUI-Folder-OS-OS-Android-icon.png">
                <img class="app-assets-icon-info-platform" src="http://icons.iconarchive.com/icons/igh0zt/ios7-style-metro-ui/512/MetroUI-Folder-OS-OS-Android-icon.png">
            </div>

            <span class="app-assets-rating"> </span>
            <div class="row app-asset-buttons col-md-12">
                <a href="#" class="btn btn-primary btn-add-gadget">{{t "Install"}}</a>
                <a href="#" class="btn btn-primary btn-add-gadget">{{t "Enterprise Install"}}</a>
            </div>
        </div>
    </div>


    <div class="row app-asset-description-section">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#info">App Info</a></li>
            <li><a data-toggle="tab" href="#comments">Comments</a></li>
        </ul>
        <div class="tab-content">
            <div id="info" class="tab-pane fade in active">
                <h3>Description</h3>
                <p>{{#if asset.attributes.overview_displayName}}{{ asset.attributes.overview_description}}{{/if}}</p>
                {{#compare asset.attributes.overview_recentchanges "-" operator="!="}}
                    <h3>Recent Changes</h3>
                <p>{{ asset.attributes.overview_recentchanges}}</p>
                {{/compare}}
                <h3>Screenshots</h3>
                <div class="col-md-12">
                    {{#asset.attributes.images_screenshots}}
                        {{#if this}}
                            <img class="col-md-3 app-asset-screenshot" src="{{this}}">

                        {{/if}}
                    {{/asset.attributes.images_screenshots}}
                </div>
            </div>
            <div id="comments" class="tab-pane fade">
                <h3>Section B</h3>
                <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
            </div>
        </div>


    </div>



</div>

<div class="col-md-4">


</div>

