<header>
    <div class="row wr-global-header">
        <div class="col-xs-6 col-sm-6 col-lg-8 app-logo">
            <a href="{{url "/"}}"><img src="{{url "/themes/store/img/logo.png"}}" /><h2 class="app-title"><span>App Store</span></h2></a>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-4 wr-auth-container">


            <div class="wr-auth pull-right">

                {{#if user}}

                    <a href="{{url "/extensions/assets/mobileapp/subscriptions"}}">
                        <div class="auth-img">
                            {{t "My Apps"}}
                            <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                        </div>
                    </a>


                    <a href="#" data-toggle="dropdown">
                        <div class="auth-img">
                            {{user.username}}
                            <span class="fw-stack-md fw-lg">
                                <i class="fw fw-user fw-stack-1-5x"></i>
                            </span>
                        </div>
                    </a>

                    <div class="dropdown-menu">
                        <div class="cu-arrow"></div>
                        <div class="dropdown-menu-content">
                            <a class="filter-item" href="{{url "/logout"}}">Logout</a>
                        </div>
                    </div>

                {{else}}

                    {{#if sso}}

                        <a href="{{url "/login"}}">
                            <div class="auth-img">
                                {{t "Sign In"}}
                            <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                            </div>
                        </a>

                        {{else}}

                        <a data-toggle="modal" data-target="#modal-login">
                            <div class="auth-img">
                                {{t "Sign In"}}
                            <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                            </div>
                        </a>

                    {{/if}}



                    <a href="#" data-toggle="dropdown">
                        <div class="auth-img">
                            Register
                            <span class="fw-stack-md fw-lg">
                                <i class="fw fw-login"></i>
                            </span>
                        </div>
                    </a>

                {{/if}}


            </div>
        </div>
    </div>
</header>


<!-- secondary header - app bar -->
<div id="nav" class="row wr-app-bar">
    <div class="col-md-9 wr-action-container">
        <div class="wr-action-btn-bar">
            <a href="javascript:openCollapsedNav()" class="cu-btn wr-hidden-nav-toggle-btn">
                    <span class="fw-stack">
                        <i class="fw fw-tiles fw-stack-1-5x"></i>
                    </span>
            </a><a class="cu-btn page-title" href='{{url "/assets/mobileapp"}}'>
            <span class="fw-stack"></span>
            Mobile Apps
        </a>
        </div>
    </div>
</div>
<!-- secondary header - app bar -->

<!-- common navigation -->
<div id="hiddenNav" class="wr-hidden-nav">
    <ul>
        <li><a href="{{url "/assets/webapp"}}"><i class="fw fw-globe"></i>Web Apps</a></li>
        <li><a href="{{url "/assets/mobileapp"}}"><i class="fw fw-mobile"></i>Mobile Apps</a></li>
    </ul>
</div>
<!-- /common navigation -->