<div class="row sort-bar">
    <div class="col-md-12">
        <ul id="ul-sort-assets" data-type="gadget" class="pull-right">
			{{#if hasApps}}
                <li>
                    <a href="{{url this.url}}popular" data-toggle="tooltip" data-sort="popular"
                       title="{{t "Sort by Popularity"}}"><i class="fw fw-star"></i></a>
                </li>
			{{/if}}
            <li>
                <a href="{{url this.url}}az" data-toggle="tooltip" data-sort="az"
                   title="{{t "Sort by Alphabetical Order"}}"><i class="fw fw-sort"></i></a>
            </li>
            <li>
                <a href="{{url this.url}}recent" data-toggle="tooltip" data-sort="recent"
                   title="{{t "Sort by Created Date"}}"><i class="fw fw-calendar"></i></a>
            </li>
			{{#if header.user}}
                <li>
                    <a href="{{url this.url}}usage" data-toggle="tooltip" data-sort="usage"
                       title="{{t "Sort by Usage"}}"><i class="fw fw-statistics"></i></a>
                </li>
			{{/if}}
        </ul>
    </div>
</div>