

<div class="col-md-8">

	{{#if userAssets}}

		{{#itr userAssets}}

			{{#each value}}

            <div class="col-md-2 app-assets-wrapper">
                <div class="app-assets">
                    <a href="{{url "/assets"}}/{{type}}/{{id}}">
                        <img class="app-assets-icon"
                             src="{{#if attributes.images_thumbnail}}{{attributes.images_thumbnail}}{{/if}}">
                    </a>
                    <div class="app-assets-info">
                        <div class="app-assets-name">
							{{attributes.overview_displayName}}
                        </div>
                        <div class="app-assets-provider">
							{{attributes.overview_provider}}
                        </div>
                    </div>

                    <div class="app-assets-icon-info">
                        <i title="{{attributes.overview_platform}}" class="fw {{iconImage attributes.overview_platform}} fw-1_5x fw-inverse"></i>
                        <i title="{{attributes.overview_type}}" class="fw {{iconImageType attributes.overview_type}} fw-1_5x fw-inverse"></i>
                    </div>


					<div class="my-apps-actions">


                        {{#if isDeviceSubscriptionEnabled}}
                            <a class="btn btn-info asset-reinstall-btn" href="#modalDevices" type="{{../key}}"  data-platform="{{attributes.overview_platform}}" data-aid="{{id}}" data-toggle="modal" title="{{t "Reinstall"}} {{../key}}">
                                <i class="icon-mobile-phone"></i> Reinstall
                            </a>
                        {{else}}
                            <a class="btn btn-info asset-reinstall-btn-direct"  type="{{../key}}"  data-platform="{{attributes.overview_platform}}" data-aid="{{id}}"  title="{{t "Reinstall"}} {{../key}}">
                                <i class="icon-mobile-phone"></i> Reinstall
                            </a>
                        {{/if}}
                        {{#if ../../selfUnsubscription}}
                        <a class="btn btn-danger asset-unsubscribe-btn" type="{{../key}}" data-name="{{attributes.overview_name}}"   data-platform="{{attributes.overview_platform}}" data-aid="{{id}}" >
                            <i class="icon-remove"></i> Uninstall
                        </a>
                        {{/if}}
					</div>



                </div>
            </div>

			{{/each}}

		{{/itr}}

	{{/if}}

</div>



<div class="modal fade" id="modalDevices">
    <div class="modal-dialog-devices">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Install {{ asset.attributes.overview_displayName}}</h4>
            </div>
            <div class="modal-body">

                <div class='row'>
                    <div class='col-md-12'>
                        <div class="carousel slide media-carousel" id="media">
                            <div class="carousel-inner" id="devicesList">


                            </div>
                            <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                            <a data-slide="next" href="#media" class="right carousel-control">›</a>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
