

<div class="row visible-lg">
    <h3> {{t "Recent Apps from "}}{{overview_provider}}</h3>
    <hr>

        {{#each assets}}
            <a href="{{tenantedUrl "/assets"}}/{{type}}/{{id}}">
                <div class="row">
                    <div class="col-md-8">
                        {{#if defaultThumbnail}}
                            <div class="app-assets-default-icon col-md-5"
                                 style="background: #{{defaultThumbnail.color}}; color: white; min-height: 100px;">
                                {{defaultThumbnail.text}}
                            </div>
                        {{else}}
                            <img class="app-assets-icon col-md-12" style="min-height: 100px;"
                                 src="{{attributes.images_thumbnail}}">
                        {{/if}}
                        <div class="recent-app-assets-name">{{attributes.overview_displayName}}</div>
                        <div class="recent-app-asset-provider">{{attributes.overview_provider}}</div>
                        <span class="app-assets-rating"> {{#assetRating rating.average}}{{/assetRating}} </span>
                    </div>
                </div>
            </a>
            <hr>
        {{/each}}



</div>
